* {
  font-family: "lato";
}

:root {
  --teal: #3a5154;
  --cream: #b9b0b2;
  --grey: #929aa2;
  --dark: #1d2625;
  --orange: #b7673c;
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
.high-score {
  font-size: 5.4rem;
}

h2 {
  font-size: 4.2rem;
}


.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

  /* form */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* utilities  */ 
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 80rem;
    margin: auto;
  }

  nav,
  footer {
    background-color: var(--dark);
    color: white;
    padding: 10px;
    margin-bottom: 5px;
  }

  .container * > {
  width: 100%;  
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }

.justify-centre {
  justify-content: center;
}

.text-centre {
  text-align: center;
}

/* buttons */
.btn {
  font: size 1.8rem; 
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: var(--grey);
}



.btn:hover,
.choice-box:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--orange);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-box {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid black;
  background-color: white;
}