* {
  font-family: "lato";
}

:root {
  --teal: #3a5154;
  --lightblue: #a9bebc;
  --grey: #929aa2;
  --dark: #1d2625;
  --orange: #b7673c;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Start page styling */
h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}

h2,
p {
  font-size: 2rem;
  text-align: center;
  padding: 5%;
}

#home {
  background-color: white;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* form */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: var(--lightblue);
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* All of the children inside of the container are 100% width of the container */
.container * > {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-centre {
  justify-content: center;
}

.text-centre {
  text-align: center;
}

/* buttons */
.btn,
#username {
  margin: auto;
  font-size: 2rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background-color: var(--lightblue);
  font-weight: bold;
}

#username {
  background-color: white;
}

.btn:hover,
.choice-box:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-box {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.8rem;
  margin-top: 1rem;
  background-color: var(--lightblue);
  font-weight: bold;
  padding: 1rem 0;
  padding-left: 1rem;
}

.quiz-box,
#end-box {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
  background-color: white;
  
}

#title,
#finalScore {
  font-size: 3rem;
}

#saveScoreBttn,
#play-again,
#viewScoreBoardBttn {
  border: none;
}

.current-score {
  display: flex;
  flex-direction: row;
  
}


